.schedule-header {
  @apply mb-[20px] relative;
}
.category-header::after,
.blog-header::after,
.testomonial-header::after,
.schedule-header::after {
  @apply absolute content-[''] -bottom-4 w-[45px] h-[5px] bg-[#4EB346] left-[50%] -translate-x-[50%];
}

.schedule-container {
  @apply w-full px-[25px] md:px-[25px] flex flex-col items-center justify-center text-center;
}
.schedule-sub-header {
  @apply w-full max-w-[930px] text-[18px] leading-[24.52px] my-[30px];
}
.schedule-table {
  @apply w-full max-w-[930px] grid grid-flow-row mb-[55px];
}
.schedule-row {
  @apply w-full max-w-[100%] grid grid-cols-[minmax(80px,100px)_minmax(80px,447px)] grid-rows-[minmax(20px,40px)_auto] md:grid-cols-[minmax(50px,113px)_minmax(150px,197px)_minmax(200px,612px)] md:grid-rows-1
  text-justify py-4 border-t-[1px] border-black border-solid last:border-b-[1px] text-[8px] md:text-[18px] leading-[24.52px] gap-y-[5px];
}

.schedule-row:hover {
  color: black !important;
}

.schedule-row[href]:hover {
  color: #4eb346 !important;
}

.schedule-row[href="#"]:hover {
  color: black !important;
}

.schedule-date,
.schedule-name,
.schedule-name-even {
  @apply w-full h-full flex items-center justify-start;
  .date {
    @apply text-[14px] md:text-[18px] w-full;
  }
  .btn {
    @apply min-w-[150px] md:min-w-[197px] py-[5px] px-[14px] rounded-[50px] text-center whitespace-nowrap text-[14px] md:text-[18px] bg-[#4EB346] text-white;
  }
  .btn-outlined {
    @apply bg-white border-[#4EB346] border-[1px] text-black;
  }
}
.schedule-desc {
  @apply m-auto whitespace-normal row-start-2 col-span-2 md:row-start-1 md:col-start-3 md:pl-[5px];
  p {
    @apply leading-normal text-[14px] md:text-[18px];
  }
}
.schedule-cta-btn-gp {
  @apply w-full flex flex-col md:flex-row items-center justify-center gap-[10px] mb-[100px] md:mb-0;
  .schedule-cta-btn {
    @apply mb-0 md:mb-[100px];
  }
}

.blog-cta-btn {
  @apply text-[18px] leading-[24.52px] font-[700] flex flex-nowrap items-center justify-center mb-[104px];
}
.schedule-cta-btn {
  @apply mt-[0px] mb-[100px];
}
